WcfClient/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="MethodOpenFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="concurrentDictionary" nillable="true" type="q1:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>